<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.dao.IAreaDao">
    <resultMap id="BaseResultMap" type="com.example.test.entity.Area">
    </resultMap>
    <update id="updatearea" parameterType="com.example.test.entity.Area">
        update area set price = #{price},totalnum=#{totalnum}
    </update>
    <select id="listarea" resultMap="BaseResultMap" parameterType="com.example.test.entity.Area">
        select * from area where  areaid =1
    </select>
</mapper>
